body{
    background-color: #E1E1E1;
}
.caja{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    
}

<<<<<<< HEAD:equipo5_ProyectoN/Veterinaria/css/cuidados.css
=======
nav{
    display: inline; 
    align-items: center;
}

.nav-link{
    text-transform: uppercase;
    color: #874F81;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}


nav li:hover{
    background-color: pink;
    text-decoration: underline;
    display: inline;
    margin: 0 0 0 15px;
    color: #874F81;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.logo_mascotitas{
    width: 35%;
    height: 35%;
    
}

.fcb{
    width: 80%;
    height: 50%;
    

}

.x{
    width: 30%;
    height: 30%;

}

.instagram{
    width: 80%;
    height:30%;

}
>>>>>>> 2fc3f4ba7c569c8f945d80b13e6b1102541af542:Veterinaria/cuidados.css

.imgPrincipal{
    display: flex;
    justify-content: center;
}

.inicioSesion{
    width: 719px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid #C6A6A6;
    background-color: #C6A6A6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}

.ubicacion {

    background-color: #C6A6A6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center; 
    color: white;
    border: #8A7488;
    
  }


.section{
    background-color: #8A7488;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.section div{
    display: flex;
    flex-direction: column;
}
div h2{
    color: white;
    padding: 10px 0;
}
.card{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    height: 80px;
}
.card img{
    margin-left: 30px;
    width: 40px;
    height: 40px;
}

.card:hover{
    background-color: #8A7488;
    text-decoration-color: #8A7488;
    color: white;
}



@keyframes perrito{
    from{
        opacity: 1;

    }
    to{
        opacity: 0;
    }
}
.perrito {
    animation-name: perrito;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
