body{
    background-color: #E1E1E1;
}
.caja{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    
} 
/* container del formulario */
.container{
    align-items: center;
    
  
}


nav{
    display: inline; 
    align-items: center;
}

.nav-link{
    text-transform: uppercase;
    color: #874F81;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}


nav li:hover{
    background-color: pink;
    text-decoration: underline;
    display: inline;
    margin: 0 0 0 15px;
    color: #874F81;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.logo_mascotitas{
    width: 25%;
    height: 25%;
    
}

.fcb{
    width: 80%;
    height: 50%;
    

}

.x{
    width: 80%;
    height: 30%;

}

.instagram{
    width: 80%;
    height:30%;

}

.card{
    background-color: #E7DAED;
    border: #E7DAED;
    

}
.card img {
   
    width: 30%;
    height:30%;
}


.imgPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicioSesion{
    width: 719px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid #C6A6A6;
    background-color: #C6A6A6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}

.btn-2{
    width: 719px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid #C6A6A6;
    background-color: #C6A6A6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;

}

@media (max-width: 768px) {
    .btn-2 {
        padding: 15px 105px;
    }
    .fcb{
        padding: 15px 170px;

    }
    .x{
        padding: 15px 170px;

    }
    .instagram{
        padding: 15px 170px;

    }
}


.fondo{
    background: #D7CFCF;
}

.parte{
    
    background: #8A7488;
}

.ubicacion {

    background-color: #C6A6A6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center; 
    color: white;
    border: #8A7488;
    justify-content: center;
    
  }


.section{
    background-color: #8A7488;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.section div{
    display: flex;
    flex-direction: column;
}
div h2{
    color: white;
    padding: 10px 0;
}




@keyframes perrito{
    from{
        opacity: 1;

    }
    to{
        opacity: 0;
    }
}
.perrito {
    animation-name: perrito;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

