
body{
    background-color: #E1E1E1;
    margin: 0;
    font-family: Arial, sans-serif;
}



  


.inicioSesion{
    width: 719px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid #C6A6A6;
    background-color: #C6A6A6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}

.h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10%;
    color: #8A7488;
    font-weight: bold;
}
.card-container {
    display: flex;
    justify-content: center; 
  flex-wrap: wrap;
  padding: 0 60px; /* Padding en los lados del contenedor */
  
  }
  .card:hover {
    transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
    background-color: #8A7488; 
  }
  
  .card {
    width: calc(33.33% - 20px); 
  margin-bottom: 20px; /* Espacio entre los renglones de cards */
  border: 1px solid #ccc;
  transition: transform 0.3s ease; /* Agrega una transición suave *
  
  
  
  
  /* modificar colores del botón */
  }
  .btn-primary {
    display: inline-block;
    padding: 4px 8px;
    background-color: #8A7488;
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }


  .card-img-top {
    width: 50%; 
    height: 50%; 
  }
  .sticker {
    display: inline-block;
    padding: 4px 8px;
    background-color: #8A7488;
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }