@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar {
  background-color: #8c758c ;
  
}


.navbar .nav-item a:hover{
  background: linear-gradient(45deg,#350142, #051545  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}




.aElementsMascotitas{
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
  text-decoration:none;
}
.ulElements a{
text-align: center;
justify-content: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
}

.iconoUsuario {
  display: grid;
  align-items: center;
  text-decoration: none;
}
.iconoCarrito {
  display: grid;

}



.logo{
width: 30%;
}

section{
  width: 100%;
  margin-bottom: 20px;
}

#banner{
  margin-top: 35px;
  position: relative;

}

#banner img{
  display:grid;
  max-width: 100%;
  height: auto;
  place-items: center;
  margin: auto;
  
}

#banner .container{
  position:relative;
  top: 10%;
  
  
  
}

#banner h2{
  font-size: 30px;
  color: blueviolet;


}



#banner a {
  display: block;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;


}


.btn-home a{
  background-color: #b535f6;
  border: #b535f6;
  color: aliceblue;
  border-radius: 10px;
  text-align: center;
  place-items: center;
  margin: auto;

}


/*bienvenida*/

.bienvenida{
  text-align: center;
  font-family: monospace;
  color: black;
  padding-top: 90px;
}

.containerBienvenida{
  text-align: center;
  justify-content: center;
  display: flex;
}

.bienvenida h1{
margin-top: 200px;
  float: left;
  color: black;
  position: relative;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

h1 span{
  position: absolute;
  right: 0;
  width: 0;
  background-color: white;
  border-left: 1px solid black;
  animation: animacion 5s infinite alternate steps(27);
}

@keyframes animacion{
  from{
      width: 100%;
  }

  to{
      width: 0;
  }
}

.nuestrosServicios{
 
  
  
  display: flex;
  
}



.titulo{
  
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
 
}

.circulo{
  background-color: #B69CB3;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}


.container_seleccion{
  display: flex;
  padding-left: 50px;
  
  justify-content: center;
  padding-top: 30px;
  
  
}

.container_seleccion .imagen_gato{
  width: 40%;
  background-color: #B69CB3;
  border-radius: 50%;
  height: 200px;
  width: 200px;
 
  
  
  
  

}

.imagen_perro{
  width: 43%;
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #B69CB3;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  
  
  
}

.img2{
  padding-left: 50px;


}

.list-group{
  align-items: center;
  justify-content: center;
  
}

.list-group .list-group-item{
  border-color: white;
  
}

.carousel-inner  .carousel-item  img {
  object-fit: scale-down;
  height: 70vh;
  width: 100%;
}
 