
.navbar {
  background-color: #b535f6 ;
  
}


.navbar .nav-item a:hover{
  color: white;
  font-size: 30px;
  text-align: center;
}





section{
  width: 100%;
  margin-bottom: 20px;
}

#banner{
  margin-top: 35px;
  position: relative;

}

#banner img{
  height: 90vh;
  width: 100%;
}

#banner .container{
  position: absolute;
  top: 10%;
  
  
  
}

#banner h2{
  font-size: 30px;
  color: blueviolet;


}



#banner a {
  display: block;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;


}

.btn {
  background-color: #b535f6;
  border: #b535f6;
}

/*bienvenida*/

.bienvenida{
  text-align: center;
  font-family: monospace;
  color: black;
  padding-top: 90px;
}

.containerBienvenida{
  text-align: center;
  justify-content: center;
  display: flex;
}

.bienvenida h1{

  float: left;
  color: black;
  position: relative;
  text-align: center;
  font-family: monospace;

}

h1 span{
  position: absolute;
  right: 0;
  width: 0;
  background-color: white;
  border-left: 1px solid black;
  animation: animacion 5s infinite alternate steps(27);
}

@keyframes animacion{
  from{
      width: 100%;
  }

  to{
      width: 0;
  }
}

.nuestrosServicios{
 
  
  
  display: flex;
  
}



.titulo{
  
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
 
}

.circulo{
  background-color: #B69CB3;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}


.container_seleccion{
  display: flex;
  padding-left: 50px;
  
  justify-content: center;
  padding-top: 30px;
  
  
}

.container_seleccion .imagen_gato{
  width: 40%;
  background-color: #B69CB3;
  border-radius: 50%;
  height: 200px;
  width: 200px;
 
  
  
  
  

}

.imagen_perro{
  width: 43%;
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #B69CB3;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  
  
  
}

.img2{
  padding-left: 50px;


}

.list-group{
  align-items: center;
  justify-content: center;
  
}

.list-group .list-group-item{
  border-color: white;
  
}

.carousel-inner  .carousel-item  img {
  object-fit: scale-down;
  height: 70vh;
  width: 100%;
}
 